#main-menu {
    width: 350px;
    text-align: center;
    z-index: 1;
}

.selection-field {
    text-align: left;
    height: 50px;
    margin-bottom: 50px;
}

.selection-field div {
    display: inline-block;
    font: 14pt Arial;  
}

.selection-field div:nth-child(1) {
    width: 230px;
}

.selection-field div:nth-child(2) {
    border: 1px solid black;
    width: 80px;
    padding: 7px;
    cursor: pointer;
}

.selection-field div:nth-child(2):hover {
    background-color: turquoise;
}

.selection-field div:nth-child(3) {
    width: 800px;
    margin-top: 15px;
    position: relative;
    left: 233px;
}

.delete {
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.delete:hover {
    background-color: turquoise;
}

#overlay {
	z-index: 250; 
	position: fixed; 
	background-color: black;
	opacity: 0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0; 
	left:0;
	display:none; 
}

#modal-window {
    width: 600px; 
    height: 480px;
    border: 1px black solid;
    background: white;
    position: fixed; 
    top: 45%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
    left: 50%; 
    margin-top: -240px;
    margin-left: -300px; 
    font: 14pt Arial;
    display: none;
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 500;
    padding: 20px 10px;
}

#modal-window #headline {
    position: absolute;
    top: 10px;
    left: 38px;
}

#modal-window #close-button {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
}

#selection-window {
    width: 545px; 
    height: 380px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    overflow: auto;
}

#selection-window table {
    width: 100%;
    border-collapse: collapse; 
}

#button-panel {
   width: 549px;  
   margin-left: auto;
   margin-right: auto;
   margin-top: 28px;
   text-align: right;
}

#button-panel div {
    display: inline-block;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    cursor: pointer;
}

#button-panel div:hover {
    background-color: turquoise;
}

.accentuated:hover {
    background-color: turquoise;
    cursor: pointer;
}

#selected {
    background-color: turquoise;
}
